* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conjunto {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.borde-contenedor-contador {
    background-color: antiquewhite;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .contenedor-contador {
        height: 85%;
        width: 90%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }
}

.borde-contenedor-contador-derecho {
    background-color: antiquewhite;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .contenedor-contador-derecho {
        height: 85%;
        width: 90%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }
}





.stop {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(248, 69, 69, 0.952);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(248, 69, 69, 0.952);
    cursor: pointer;
    transition: 200ms;
    border: 1px solid black;
    transform: translateY(200px);

    &:hover {
        background-color: seagreen;
        
    }
    
}

#contador {
    font-size: 40px;
}

#borde-tablero {
    height: 460px;
    width: 460px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 3px 3px 5px black;
    background-color: brown;

    #tablero {
        height: 440px;
        width: 440px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
}


.ficha-numerica, .ficha-operadora {
    height: 30px;
    width: 30px;
    border-radius: 10%;
    background: rgb(255, 209, 149);
    border: .1px solid;
    box-shadow: 1px 1px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    

    .numero-aleatorio, .operador {
        font-size: 33px;
    }

}

.signo-suma {
    background-color: rgb(65, 141, 255);
}

.signo-resta {
    background-color: rgba(248, 69, 69, 0.952);
}

.signo-multiplicacion {
background-color: green;
}

.signo-division {
    background-color: yellow;
}

.signo-igualdad {
background-color: orange;}






.jugador .ficha-numerica, .jugador .ficha-operadora {
    cursor: pointer;
    

    &:hover {
        transform: translateY(-3px)
    }
}






.borde-jugador {
    height: 460px;
    width: 220px;
    background-color: brown;
    border-radius: 5%;
    box-shadow: 3px 3px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;

    .jugador {
        height: 440px;
        width: 200px;
        border: 1px solid;
        border-radius: 5%;
        background-color: #555;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .fichas-numericas {
            height: auto;
            width: 190px;
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
            justify-content: center;
            /* border: 1px solid; */
            margin: 10px 0;
        }

        

        #fichas-operadoras-1, #fichas-operadoras-2 {
            /* width: 150px; */
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
            justify-content: center;
            /* border: 1px solid; */
            margin: 10px 0;
        }


    }
}




#fila {
    display: flex;
    flex-direction: row;

    .casilla {
        height: 34px;
        width: 34px;
        border: .01px solid;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

